/*
	Theme Name: VidaCar Theme
	Description: This is the VidaCar custom theme created for the Genesis Framework.
	Author: Mauricio Alvarez
	Author URI: http://designnify.com/
	Version: 1.0.

	Tags: black, orange, white, one-column, two-columns, three-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.0.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Common Classes
		- Primary Navigation
		- Secondary Navigation
	- Content Area
		- Entries
		- Pagination
		- Comments
	- Pages
		- Homepage
			- Home Top
			- Home Middle
			- Home Bottom
		- Blog
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px

*/

@import "partials/variables";
@import "partials/mixins";

/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */
@import "partials/reset";


/*
Defaults
---------------------------------------------------------------------------------------------------- */
@import "partials/defaults";


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */
@import "partials/structure-layout";


/*
Common Classes
---------------------------------------------------------------------------------------------------- */
@import "partials/common-classes";


/*
Widgets
---------------------------------------------------------------------------------------------------- */
@import "partials/widgets";


/*
Plugins
---------------------------------------------------------------------------------------------------- */
@import "partials/plugins";


/* Gravity Forms
--------------------------------------------- */
@import "partials/gravity-forms";


/* Jetpack
--------------------------------------------- */
@import "partials/jetpack";


/*
Site Header
---------------------------------------------------------------------------------------------------- */
@import "partials/site-header";


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
@import "partials/site-navigation";


/*
Content Area
---------------------------------------------------------------------------------------------------- */
@import "partials/content-area";


/*
Pages
---------------------------------------------------------------------------------------------------- */
@import "partials/homepage";
@import "partials/pages";


/*
Sidebars
---------------------------------------------------------------------------------------------------- */
@import "partials/sidebars";

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */
@import "partials/footer-widgets";


/*
Site Footer
---------------------------------------------------------------------------------------------------- */
@import "partials/site-footer";


/*
Fadeup Effect
---------------------------------------------------------------------------------------------------- */
@import "partials/fadeup";


/*
Media Queries
---------------------------------------------------------------------------------------------------- */
@import "partials/media-queries";
