/*
	Theme Name: VidaCar Theme
	Description: This is the VidaCar custom theme created for the Genesis Framework.
	Author: Mauricio Alvarez
	Author URI: http://designnify.com/
	Version: 1.0.

	Tags: black, orange, white, one-column, two-columns, three-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.0.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Common Classes
		- Primary Navigation
		- Secondary Navigation
	- Content Area
		- Entries
		- Pagination
		- Comments
	- Pages
		- Homepage
			- Home Top
			- Home Middle
			- Home Bottom
		- Blog
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px

*/
/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* Baseline Normalize
	normalize.css v3.0.0 | MIT License | git.io/normalize
--------------------------------------------- */
/* line 5, sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 5, sass/partials/_reset.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 5, sass/partials/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 5, sass/partials/_reset.scss */
[hidden], template {
  display: none; }

/* line 5, sass/partials/_reset.scss */
a {
  background: transparent; }

/* line 5, sass/partials/_reset.scss */
a:active, a:hover {
  outline: 0; }

/* line 5, sass/partials/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 5, sass/partials/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 5, sass/partials/_reset.scss */
dfn {
  font-style: italic; }

/* line 5, sass/partials/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 5, sass/partials/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 5, sass/partials/_reset.scss */
small {
  font-size: 80%; }

/* line 5, sass/partials/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 5, sass/partials/_reset.scss */
sup {
  top: -0.5em; }

/* line 5, sass/partials/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 5, sass/partials/_reset.scss */
img {
  border: 0; }

/* line 5, sass/partials/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 5, sass/partials/_reset.scss */
figure {
  margin: 1em 40px; }

/* line 5, sass/partials/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 5, sass/partials/_reset.scss */
pre {
  overflow: auto; }

/* line 5, sass/partials/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

/* line 5, sass/partials/_reset.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 5, sass/partials/_reset.scss */
button {
  overflow: visible; }

/* line 5, sass/partials/_reset.scss */
button, select {
  text-transform: none; }

/* line 5, sass/partials/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 5, sass/partials/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 5, sass/partials/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 5, sass/partials/_reset.scss */
input {
  line-height: normal; }

/* line 5, sass/partials/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 5, sass/partials/_reset.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 5, sass/partials/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 5, sass/partials/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 5, sass/partials/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 5, sass/partials/_reset.scss */
legend {
  border: 0;
  padding: 0; }

/* line 5, sass/partials/_reset.scss */
textarea {
  overflow: auto; }

/* line 5, sass/partials/_reset.scss */
optgroup {
  font-weight: bold; }

/* line 5, sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 5, sass/partials/_reset.scss */
td, th {
  padding: 0; }

/* Box Sizing
--------------------------------------------- */
/* line 10, sass/partials/_reset.scss */
*,
input[type="search"] {
  box-sizing: border-box; }

/* Float Clearing
--------------------------------------------- */
/* line 20, sass/partials/_reset.scss */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table; }

/* line 37, sass/partials/_reset.scss */
.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table; }

/*
Defaults
---------------------------------------------------------------------------------------------------- */
/* Typographical Elements
--------------------------------------------- */
/* line 4, sass/partials/_defaults.scss */
body {
  background-color: #fff;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.625;
  margin: 0; }

/* line 14, sass/partials/_defaults.scss */
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

/* line 25, sass/partials/_defaults.scss */
::-moz-selection {
  background-color: #000;
  color: #fff; }

/* line 30, sass/partials/_defaults.scss */
::-moz-selection {
  background-color: #000;
  color: #fff; }
::selection {
  background-color: #000;
  color: #fff; }

/* line 35, sass/partials/_defaults.scss */
a {
  color: #e5554e;
  text-decoration: none; }

/* line 40, sass/partials/_defaults.scss */
a:hover {
  color: #000000; }

/* line 44, sass/partials/_defaults.scss */
p {
  margin: 0 0 28px;
  padding: 0; }

/* line 49, sass/partials/_defaults.scss */
ol,
ul {
  margin: 0;
  padding: 0; }

/* line 55, sass/partials/_defaults.scss */
li {
  list-style-type: circle; }

/* line 59, sass/partials/_defaults.scss */
b,
strong {
  font-weight: 700; }

/* line 64, sass/partials/_defaults.scss */
blockquote,
cite,
em,
i {
  font-style: italic; }

/* line 71, sass/partials/_defaults.scss */
blockquote {
  margin: 40px; }

/* line 75, sass/partials/_defaults.scss */
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px; }

/* line 85, sass/partials/_defaults.scss */
pre {
  background-color: #f5f5f5;
  font-size: 14px;
  padding: 24px; }

/* Headings
--------------------------------------------- */
/* line 95, sass/partials/_defaults.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px; }

/* line 108, sass/partials/_defaults.scss */
h1 {
  font-size: 36px; }

/* line 112, sass/partials/_defaults.scss */
h2 {
  font-size: 30px; }

/* line 116, sass/partials/_defaults.scss */
h3 {
  font-size: 24px; }

/* line 120, sass/partials/_defaults.scss */
h4 {
  font-size: 20px; }

/* line 124, sass/partials/_defaults.scss */
h5 {
  font-size: 18px; }

/* line 128, sass/partials/_defaults.scss */
h6 {
  font-size: 16px; }

/* Objects
--------------------------------------------- */
/* line 135, sass/partials/_defaults.scss */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

/* line 144, sass/partials/_defaults.scss */
img {
  height: auto; }

/* line 148, sass/partials/_defaults.scss */
.featured-content img,
.gallery img {
  width: auto; }

/* Forms
--------------------------------------------- */
/* line 156, sass/partials/_defaults.scss */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  padding: 16px;
  width: 100%; }

/* line 168, sass/partials/_defaults.scss */
input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none; }

/* line 174, sass/partials/_defaults.scss */
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto; }

/* line 180, sass/partials/_defaults.scss */
::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-weight: 300; }

/* line 186, sass/partials/_defaults.scss */
::-webkit-input-placeholder {
  color: #000;
  font-weight: 300; }

/* line 191, sass/partials/_defaults.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.nf-modal-link {
  background-color: #E9194A;
  border: 0;
  border-bottom: 5px solid #A3092D;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto; }

/* line 211, sass/partials/_defaults.scss */
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  background-color: #A3092D;
  border-bottom: 5px solid #E9194A;
  color: #fff; }

/* line 221, sass/partials/_defaults.scss */
.entry-content .button:hover {
  color: #fff; }

/* line 225, sass/partials/_defaults.scss */
.button {
  display: inline-block; }

/* line 229, sass/partials/_defaults.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none; }

/* Tables
--------------------------------------------- */
/* line 237, sass/partials/_defaults.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%; }

/* line 245, sass/partials/_defaults.scss */
tbody {
  border-bottom: 1px solid #ddd; }

/* line 249, sass/partials/_defaults.scss */
td,
th {
  text-align: left; }

/* line 254, sass/partials/_defaults.scss */
td {
  border-top: 1px solid #ddd;
  padding: 6px 0; }

/* line 259, sass/partials/_defaults.scss */
th {
  font-weight: 400; }

/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* Site Containers
--------------------------------------------- */
/* line 5, sass/partials/_structure-layout.scss */
.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 960px; }

/* line 11, sass/partials/_structure-layout.scss */
.site-inner {
  clear: both;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
  padding-top: 4rem; }

/* Column Widths and Positions
--------------------------------------------- */
/* Wrapping div for .content and .sidebar-primary */
/* line 24, sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 920px; }

/* line 30, sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content-sidebar-wrap {
  float: left; }

/* line 34, sass/partials/_structure-layout.scss */
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  float: right; }

/* Content */
/* line 41, sass/partials/_structure-layout.scss */
.content {
  float: right;
  width: 740px; }

/* line 46, sass/partials/_structure-layout.scss */
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left; }

/* line 52, sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 520px; }

/* line 58, sass/partials/_structure-layout.scss */
.full-width-content .content {
  width: 100%; }

/* Primary Sidebar */
/* line 64, sass/partials/_structure-layout.scss */
.sidebar-primary {
  float: right;
  width: 360px; }

/* line 69, sass/partials/_structure-layout.scss */
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  float: left; }

/* Secondary Sidebar */
/* line 76, sass/partials/_structure-layout.scss */
.sidebar-secondary {
  float: left;
  width: 180px; }

/* line 81, sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .sidebar-secondary {
  float: right; }

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
/* line 89, sass/partials/_structure-layout.scss */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%; }

/* line 104, sass/partials/_structure-layout.scss */
.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%; }

/* line 110, sass/partials/_structure-layout.scss */
.one-third,
.two-sixths {
  width: 31.623931623931625%; }

/* line 115, sass/partials/_structure-layout.scss */
.four-sixths,
.two-thirds {
  width: 65.81196581196582%; }

/* line 120, sass/partials/_structure-layout.scss */
.one-fourth {
  width: 23.076923076923077%; }

/* line 124, sass/partials/_structure-layout.scss */
.three-fourths {
  width: 74.35897435897436%; }

/* line 128, sass/partials/_structure-layout.scss */
.one-sixth {
  width: 14.52991452991453%; }

/* line 132, sass/partials/_structure-layout.scss */
.five-sixths {
  width: 82.90598290598291%; }

/* line 136, sass/partials/_structure-layout.scss */
.first {
  clear: both;
  margin-left: 0; }

/*
Common Classes
---------------------------------------------------------------------------------------------------- */
/* Avatar
--------------------------------------------- */
/* line 4, sass/partials/_common-classes.scss */
.avatar {
  float: left; }

/* line 8, sass/partials/_common-classes.scss */
.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px; }

/* line 13, sass/partials/_common-classes.scss */
.alignright .avatar {
  margin-left: 24px; }

/* line 17, sass/partials/_common-classes.scss */
.comment .avatar {
  margin: 0 16px 24px 0; }

/* Genesis
--------------------------------------------- */
/* line 24, sass/partials/_common-classes.scss */
.breadcrumb {
  margin-bottom: 20px; }

/* line 28, sass/partials/_common-classes.scss */
.archive-description,
.author-box {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-bottom: 40px;
  padding: 40px; }

/* line 37, sass/partials/_common-classes.scss */
.author-box-title {
  font-size: 16px;
  margin-bottom: 4px; }

/* line 42, sass/partials/_common-classes.scss */
.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0; }

/* Search Form
--------------------------------------------- */
/* line 50, sass/partials/_common-classes.scss */
.search-form {
  overflow: hidden; }

/* line 54, sass/partials/_common-classes.scss */
.site-header .search-form {
  float: right;
  margin-top: 12px; }

/* line 59, sass/partials/_common-classes.scss */
.entry-content .search-form,
.site-header .search-form {
  width: 50%; }

/* line 64, sass/partials/_common-classes.scss */
.search-form input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Titles
--------------------------------------------- */
/* line 77, sass/partials/_common-classes.scss */
.archive-title {
  font-size: 20px; }

/* line 81, sass/partials/_common-classes.scss */
.entry-title {
  font-size: 36px; }

/* line 85, sass/partials/_common-classes.scss */
.entry-title a,
.sidebar .widget-title a {
  color: #000; }

/* line 90, sass/partials/_common-classes.scss */
.entry-title a:hover {
  color: #E9194A; }

/* line 94, sass/partials/_common-classes.scss */
.widget-title {
  font-size: 18px;
  margin-bottom: 20px; }

/* line 99, sass/partials/_common-classes.scss */
.footer-widgets .widget-title {
  color: #fff; }

/* WordPress
--------------------------------------------- */
/* line 106, sass/partials/_common-classes.scss */
.alignleft {
  float: left;
  text-align: left; }

/* line 111, sass/partials/_common-classes.scss */
.alignright {
  float: right;
  text-align: right; }

/* line 116, sass/partials/_common-classes.scss */
a.alignleft,
a.alignright {
  max-width: 100%; }

/* line 121, sass/partials/_common-classes.scss */
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px; }

/* line 127, sass/partials/_common-classes.scss */
img.alignnone,
.alignnone {
  margin-bottom: 12px; }

/* line 132, sass/partials/_common-classes.scss */
a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0; }

/* line 138, sass/partials/_common-classes.scss */
a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px; }

/* line 144, sass/partials/_common-classes.scss */
.wp-caption-text {
  font-weight: 700;
  text-align: center; }

/* line 149, sass/partials/_common-classes.scss */
.entry-content p.wp-caption-text {
  margin-bottom: 0; }

/*
Widgets
---------------------------------------------------------------------------------------------------- */
/* line 1, sass/partials/_widgets.scss */
.widget {
  word-wrap: break-word; }
  /* line 4, sass/partials/_widgets.scss */
  .widget ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px; }
  /* line 11, sass/partials/_widgets.scss */
  .widget li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0; }

/* line 18, sass/partials/_widgets.scss */
.widget_calendar table {
  width: 100%; }
  /* line 21, sass/partials/_widgets.scss */
  .widget_calendar table td,
  .widget_calendar table th {
    text-align: center; }

/* Featured Content
--------------------------------------------- */
/* line 30, sass/partials/_widgets.scss */
.featured-content .entry {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
  padding: 0 0 24px; }

/* line 36, sass/partials/_widgets.scss */
.footer-widgets .entry {
  border-bottom: 1px dotted #666; }

/* line 40, sass/partials/_widgets.scss */
.featured-content .entry-title {
  font-size: 20px; }

/*
Plugins
---------------------------------------------------------------------------------------------------- */
/* Genesis eNews Extended
--------------------------------------------- */
/* line 6, sass/partials/_plugins.scss */
.enews-widget,
.enews-widget .widget-title {
  color: #fff; }
/* line 11, sass/partials/_plugins.scss */
.enews-widget input,
.enews-widget input:focus {
  border: 1px solid #000; }
/* line 16, sass/partials/_plugins.scss */
.enews-widget input {
  font-size: 16px;
  margin-bottom: 16px; }
/* line 21, sass/partials/_plugins.scss */
.enews-widget input[type="submit"] {
  background-color: #e5554e;
  color: #fff;
  margin: 0;
  width: 100%; }
/* line 28, sass/partials/_plugins.scss */
.enews-widget input:hover[type="submit"] {
  background-color: #fff;
  color: #000; }

/* line 34, sass/partials/_plugins.scss */
.sidebar .widget.enews-widget {
  background-color: #000; }

/* line 39, sass/partials/_plugins.scss */
.enews form + p {
  margin-top: 24px; }

/* Ninja Forms
--------------------------------------------- */
/* line 47, sass/partials/_plugins.scss */
.ninja-forms-all-fields-wrap input, .ninja-forms-all-fields-wrap select, .ninja-forms-all-fields-wrap textarea {
  padding: 10px; }
/* line 51, sass/partials/_plugins.scss */
.ninja-forms-all-fields-wrap .field-wrap {
  margin-bottom: 5px; }

/* line 56, sass/partials/_plugins.scss */
.nf-modal-content {
  font-size: 14px; }
  /* line 59, sass/partials/_plugins.scss */
  .nf-modal-content .textarea-wrap textarea {
    height: 120px; }

/* Gravity Forms
--------------------------------------------- */
/* line 3, sass/partials/_gravity-forms.scss */
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
  font-size: 18px;
  padding: 16px; }
/* line 11, sass/partials/_gravity-forms.scss */
div.gform_wrapper .ginput_complex label {
  padding: 0; }
/* line 15, sass/partials/_gravity-forms.scss */
div.gform_wrapper li,
div.gform_wrapper form li {
  margin: 16px 0 0; }
/* line 20, sass/partials/_gravity-forms.scss */
div.gform_wrapper .gform_footer input[type=submit] {
  font-size: 16px;
  padding: 16px 24px; }

/* Jetpack
--------------------------------------------- */
/* line 1, sass/partials/_jetpack.scss */
#wpstats {
  display: none; }

/*
Site Header
---------------------------------------------------------------------------------------------------- */
/* line 1, sass/partials/_site-header.scss */
.site-header {
  background-color: #000;
  height: 100px;
  text-align: center; }
  /* line 6, sass/partials/_site-header.scss */
  .site-header .wrap {
    padding: 2px 0 0; }

/* Title Area
--------------------------------------------- */
/* line 14, sass/partials/_site-header.scss */
.title-area {
  display: inline-block;
  height: 90px;
  padding: 0;
  width: 245px; }

/*
.header-full-width {
	.title-area {
		width: 273px;
	}
}
*/
/* line 29, sass/partials/_site-header.scss */
.site-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2; }
  /* line 34, sass/partials/_site-header.scss */
  .site-title a,
  .site-title a:hover {
    color: #000; }

/* line 40, sass/partials/_site-header.scss */
.header-image .site-title > a {
  background: url(images/vidacar-logo.png) no-repeat left;
  background-size: 245px 90px;
  float: left;
  height: 90px;
  width: 245px; }

/* line 48, sass/partials/_site-header.scss */
.site-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }

/* line 54, sass/partials/_site-header.scss */
.site-description,
.site-title {
  margin-bottom: 0; }

/* line 60, sass/partials/_site-header.scss */
.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px; }

/* Widget Area
--------------------------------------------- */
/* line 71, sass/partials/_site-header.scss */
.site-header .widget-area {
  float: right;
  text-align: right;
  width: 740px; }

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
/* line 1, sass/partials/_site-navigation.scss */
.genesis-nav-menu {
  clear: both;
  font-size: 20px;
  line-height: 1;
  width: 100%; }
  /* line 8, sass/partials/_site-navigation.scss */
  .genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left; }
  /* line 13, sass/partials/_site-navigation.scss */
  .genesis-nav-menu a {
    border-bottom: 4px solid transparent;
    color: #fff;
    display: block;
    font-family: "Oswald", sans-serif;
    padding: 30px 15px 46px; }
  /* line 21, sass/partials/_site-navigation.scss */
  .genesis-nav-menu a:hover,
  .genesis-nav-menu .current-menu-item > a,
  .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    border-color: #E9194A;
    color: #E9194A; }
  /* line 28, sass/partials/_site-navigation.scss */
  .genesis-nav-menu .sub-menu {
    left: -9999px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    width: 200px;
    z-index: 99; }
    /* line 40, sass/partials/_site-navigation.scss */
    .genesis-nav-menu .sub-menu a {
      background-color: #fff;
      border: 1px solid #eee;
      border-top: 0;
      font-size: 14px;
      padding: 20px;
      position: relative;
      width: 200px; }
    /* line 50, sass/partials/_site-navigation.scss */
    .genesis-nav-menu .sub-menu .sub-menu {
      margin: -55px 0 0 199px; }
  /* line 55, sass/partials/_site-navigation.scss */
  .genesis-nav-menu .menu-item:hover {
    position: static; }
    /* line 58, sass/partials/_site-navigation.scss */
    .genesis-nav-menu .menu-item:hover > .sub-menu {
      left: auto;
      opacity: 1; }
  /* line 64, sass/partials/_site-navigation.scss */
  .genesis-nav-menu > .first > a {
    padding-left: 0; }
  /* line 68, sass/partials/_site-navigation.scss */
  .genesis-nav-menu > .last > a {
    padding-right: 0; }
  /* line 72, sass/partials/_site-navigation.scss */
  .genesis-nav-menu > .right {
    color: #fff;
    float: right;
    list-style-type: none;
    padding: 30px 0; }
  /* line 79, sass/partials/_site-navigation.scss */
  .genesis-nav-menu > .right > a {
    display: inline;
    padding: 0; }
  /* line 84, sass/partials/_site-navigation.scss */
  .genesis-nav-menu > .rss > a {
    margin-left: 48px; }
  /* line 88, sass/partials/_site-navigation.scss */
  .genesis-nav-menu > .search {
    padding: 10px 0 0; }

/* Site Header Navigation
--------------------------------------------- */
/* line 98, sass/partials/_site-navigation.scss */
.site-header .sub-menu {
  border-top: 1px solid #eee; }
  /* line 101, sass/partials/_site-navigation.scss */
  .site-header .sub-menu .sub-menu {
    margin-top: -56px; }
/* line 106, sass/partials/_site-navigation.scss */
.site-header .genesis-nav-menu li li {
  margin-left: 0; }

/* Common Classes
--------------------------------------------- */
/* line 114, sass/partials/_site-navigation.scss */
.navigation-container {
  margin-top: -100px; }

/* line 118, sass/partials/_site-navigation.scss */
.nav-primary,
.nav-secondary {
  background: #000;
  width: 37%; }

/* Primary Navigation
--------------------------------------------- */
/* line 127, sass/partials/_site-navigation.scss */
.nav-primary {
  float: left;
  text-align: right; }

/* Secondary Navigation
--------------------------------------------- */
/* line 135, sass/partials/_site-navigation.scss */
.nav-secondary {
  float: right; }

/* Responsive Navigation
--------------------------------------------- */
/* line 142, sass/partials/_site-navigation.scss */
.responsive-menu,
.responsive-menu > .menu-item > .sub-menu {
  display: block; }

/* line 147, sass/partials/_site-navigation.scss */
.responsive-menu-icon,
.responsive-menu > .menu-item-has-children:before,
.responsive-menu .menu-open.menu-item-has-children:before {
  display: none; }

/*
Content Area
---------------------------------------------------------------------------------------------------- */
/* Entries
--------------------------------------------- */
/* line 4, sass/partials/_content-area.scss */
.entry {
  margin-bottom: 40px;
  padding: 50px 30px; }

/* line 9, sass/partials/_content-area.scss */
.content .entry {
  background-color: #fff; }

/* line 14, sass/partials/_content-area.scss */
.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px; }
/* line 20, sass/partials/_content-area.scss */
.entry-content ol > li {
  list-style-type: decimal; }
/* line 24, sass/partials/_content-area.scss */
.entry-content ul > li {
  list-style-type: disc; }
/* line 28, sass/partials/_content-area.scss */
.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }
/* line 33, sass/partials/_content-area.scss */
.entry-content code {
  background-color: #000;
  color: #ddd; }

/* Entry Meta
--------------------------------------------- */
/* line 42, sass/partials/_content-area.scss */
p.entry-meta {
  font-size: 16px;
  margin-bottom: 0; }

/* line 47, sass/partials/_content-area.scss */
.entry-header .entry-meta {
  margin-bottom: 24px; }

/* line 51, sass/partials/_content-area.scss */
.entry-footer .entry-meta {
  border-top: 2px solid #f5f5f5;
  padding-top: 24px; }

/* line 56, sass/partials/_content-area.scss */
.entry-categories,
.entry-tags {
  display: block; }

/* line 61, sass/partials/_content-area.scss */
.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px; }

/* Pagination
--------------------------------------------- */
/* line 69, sass/partials/_content-area.scss */
.pagination {
  margin: 40px 0; }

/* line 73, sass/partials/_content-area.scss */
.adjacent-entry-pagination {
  margin-bottom: 0; }

/* line 78, sass/partials/_content-area.scss */
.archive-pagination li {
  display: inline; }
/* line 82, sass/partials/_content-area.scss */
.archive-pagination li a {
  background-color: #000;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 8px 12px; }
/* line 92, sass/partials/_content-area.scss */
.archive-pagination li a:hover,
.archive-pagination .active a {
  background-color: #e5554e; }

/* Comments
--------------------------------------------- */
/* line 101, sass/partials/_content-area.scss */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; }

/* line 109, sass/partials/_content-area.scss */
.comment-respond,
.entry-pings {
  padding: 40px 40px 16px; }

/* line 114, sass/partials/_content-area.scss */
.entry-comments {
  padding: 40px; }

/* line 118, sass/partials/_content-area.scss */
.comment-header {
  font-size: 16px; }

/* line 122, sass/partials/_content-area.scss */
li.comment {
  background-color: #f5f5f5;
  border: 2px solid #fff;
  border-right: none; }

/* line 128, sass/partials/_content-area.scss */
.comment-content {
  clear: both;
  word-wrap: break-word; }

/* line 134, sass/partials/_content-area.scss */
.comment-list li {
  margin-top: 24px;
  padding: 32px; }
/* line 139, sass/partials/_content-area.scss */
.comment-list li li {
  margin-right: -32px; }

/* line 144, sass/partials/_content-area.scss */
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%; }

/* line 150, sass/partials/_content-area.scss */
.comment-respond label {
  display: block;
  margin-right: 12px; }

/* line 155, sass/partials/_content-area.scss */
.entry-comments .comment-author {
  margin-bottom: 0; }

/* line 159, sass/partials/_content-area.scss */
.entry-pings .reply {
  display: none; }

/* line 166, sass/partials/_content-area.scss */
.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 24px; }

/*
Pages
---------------------------------------------------------------------------------------------------- */
/* Homepage
--------------------------------------------- */
/* line 5, sass/partials/_homepage.scss */
.vidacar-home .widget-title {
  text-align: center; }
/* line 9, sass/partials/_homepage.scss */
.vidacar-home .nf-modal-link,
.vidacar-home .button {
  font-size: 30px; }

/** Home Top
--------------------------------------------- */
/* line 17, sass/partials/_homepage.scss */
.home-top {
  color: #fff;
  display: table;
  height: 500px;
  margin-top: 100px;
  text-align: center;
  width: 100%; }
  /* line 25, sass/partials/_homepage.scss */
  .home-top .widget-area {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  /* line 31, sass/partials/_homepage.scss */
  .home-top h4, .home-top p {
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); }
  /* line 37, sass/partials/_homepage.scss */
  .home-top img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
  /* line 41, sass/partials/_homepage.scss */
  .home-top .button {
    margin-top: 45px; }

/** Home Middle
--------------------------------------------- */
/* line 48, sass/partials/_homepage.scss */
.home-middle {
  padding: 40px 0; }
  /* line 51, sass/partials/_homepage.scss */
  .home-middle .widget {
    background: #E9194A;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 10px;
    text-align: center; }
    /* line 58, sass/partials/_homepage.scss */
    .home-middle .widget .widget-title {
      color: #fff;
      font-size: 30px; }
    /* line 63, sass/partials/_homepage.scss */
    .home-middle .widget img {
      display: block;
      margin: 0 auto;
      width: 100%; }
    /* line 69, sass/partials/_homepage.scss */
    .home-middle .widget .nf-modal-link,
    .home-middle .widget .button {
      background-color: #fff;
      color: #000;
      margin: 0 auto; }
      /* line 75, sass/partials/_homepage.scss */
      .home-middle .widget .nf-modal-link:hover,
      .home-middle .widget .button:hover {
        background-color: #A3092D;
        color: #fff; }
    /* line 81, sass/partials/_homepage.scss */
    .home-middle .widget ul {
      margin-bottom: 10px; }
    /* line 85, sass/partials/_homepage.scss */
    .home-middle .widget h4 {
      font-size: 30px; }
    /* line 89, sass/partials/_homepage.scss */
    .home-middle .widget .tel {
      color: #fff;
      font-size: 25px;
      text-decoration: none; }
      /* line 94, sass/partials/_homepage.scss */
      .home-middle .widget .tel:hover {
        text-decoration: underline; }
  /* line 100, sass/partials/_homepage.scss */
  .home-middle .widget-halves {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    /* line 108, sass/partials/_homepage.scss */
    .home-middle .widget-halves .widget:first-child,
    .home-middle .widget-halves .widget:last-child {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      float: left;
      margin-left: 2.564102564102564%;
      position: relative;
      width: 48.717948717948715%; }
    /* line 119, sass/partials/_homepage.scss */
    .home-middle .widget-halves .widget:first-child {
      clear: both;
      margin-left: 0; }

/** Home Bottom
--------------------------------------------- */
/* line 128, sass/partials/_homepage.scss */
.home-bottom {
  background: #CECECE;
  padding: 0 0 20px; }
  /* line 132, sass/partials/_homepage.scss */
  .home-bottom .widget-title {
    color: #fff;
    font-size: 30px;
    margin-top: 20px; }
  /* line 138, sass/partials/_homepage.scss */
  .home-bottom:before {
    background: url(images/triangle-bg.svg);
    background: url(images/triangle-bg.png);
    content: "";
    display: block;
    height: 60px;
    width: 100%; }

/* Blog
--------------------------------------------- */
/* line 4, sass/partials/_pages.scss */
.page-template-page_blog .entry {
  margin-bottom: 10px;
  padding: 50px 30px 0; }

/*
Sidebars
---------------------------------------------------------------------------------------------------- */
/* line 1, sass/partials/_sidebars.scss */
.sidebar {
  font-size: 16px; }
  /* line 4, sass/partials/_sidebars.scss */
  .sidebar li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  /* line 10, sass/partials/_sidebars.scss */
  .sidebar p:last-child,
  .sidebar ul > li:last-child {
    margin-bottom: 0; }
  /* line 15, sass/partials/_sidebars.scss */
  .sidebar .widget {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 40px; }

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* line 1, sass/partials/_footer-widgets.scss */
.footer-widgets {
  background-color: #000;
  background-image: -webkit-linear-gradient(left, #000 50%, #E9194A 50%);
  background-image: linear-gradient(to right, #000 50%, #E9194A 50%);
  clear: both;
  padding-bottom: 40px;
  padding-top: 40px; }
  /* line 8, sass/partials/_footer-widgets.scss */
  .footer-widgets,
  .footer-widgets a {
    color: #fff; }
  /* line 13, sass/partials/_footer-widgets.scss */
  .footer-widgets input {
    border: 1px solid #000; }
  /* line 17, sass/partials/_footer-widgets.scss */
  .footer-widgets a.button,
  .footer-widgets a:hover {
    color: #fff; }
  /* line 22, sass/partials/_footer-widgets.scss */
  .footer-widgets li {
    border-bottom: 1px dotted #666;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  /* line 28, sass/partials/_footer-widgets.scss */
  .footer-widgets .widget {
    margin-bottom: 40px; }
  /* line 32, sass/partials/_footer-widgets.scss */
  .footer-widgets p {
    margin: 0; }
  /* line 36, sass/partials/_footer-widgets.scss */
  .footer-widgets p:last-child,
  .footer-widgets ul > li:last-child,
  .footer-widgets .widget:last-child {
    margin-bottom: 0; }
  /* line 42, sass/partials/_footer-widgets.scss */
  .footer-widgets button,
  .footer-widgets input[type="button"],
  .footer-widgets input[type="reset"],
  .footer-widgets input[type="submit"],
  .footer-widgets .button {
    padding: 5px 24px; }
  /* line 50, sass/partials/_footer-widgets.scss */
  .footer-widgets .widget-title {
    font-size: 25px;
    text-align: left; }
  /* line 58, sass/partials/_footer-widgets.scss */
  .footer-widgets .address:before,
  .footer-widgets .tel:before,
  .footer-widgets .email:before {
    display: inline-block;
    font: normal 30px/1 'dashicons';
    margin: 0 auto;
    padding: 0 10px 0 0; }
  /* line 67, sass/partials/_footer-widgets.scss */
  .footer-widgets .address:before {
    content: "\f231"; }
  /* line 73, sass/partials/_footer-widgets.scss */
  .footer-widgets .tel:before {
    content: "\f525"; }
  /* line 79, sass/partials/_footer-widgets.scss */
  .footer-widgets .email:before {
    bottom: -7px;
    content: "\f466";
    position: relative; }
  /* line 86, sass/partials/_footer-widgets.scss */
  .footer-widgets .map {
    position: relative; }
    /* line 89, sass/partials/_footer-widgets.scss */
    .footer-widgets .map .button {
      bottom: 20px;
      left: 40px;
      position: absolute; }

/* line 97, sass/partials/_footer-widgets.scss */
.footer-widgets-1,
.footer-widgets-2 {
  width: 47.5%;
  /* 570px / 1200px */
  float: left; }

/* line 103, sass/partials/_footer-widgets.scss */
.footer-widgets-1 {
  margin-right: 5%; }

/*
Site Footer
---------------------------------------------------------------------------------------------------- */
/* line 1, sass/partials/_site-footer.scss */
.site-footer {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  padding: 5px 0px;
  text-align: center; }
  /* line 9, sass/partials/_site-footer.scss */
  .site-footer p {
    margin-bottom: 0; }

/*
Fadeup Effect
---------------------------------------------------------------------------------------------------- */
/* line 1, sass/partials/_fadeup.scss */
.js .fadeup-effect {
  opacity: 0;
  overflow: hidden;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
/* line 22, sass/partials/_fadeup.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/*
Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1139px) {
  /* line 3, sass/partials/_media-queries.scss */
  .site-inner,
  .wrap {
    max-width: 960px; }

  /* line 8, sass/partials/_media-queries.scss */
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px; }

  /* line 14, sass/partials/_media-queries.scss */
  .content,
  .site-header .widget-area {
    width: 620px; }

  /* line 19, sass/partials/_media-queries.scss */
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px; }

  /* line 25, sass/partials/_media-queries.scss */
  .sidebar-primary {
    width: 300px; } }
@media only screen and (max-width: 1023px) {
  /* line 33, sass/partials/_media-queries.scss */
  .site-inner,
  .wrap {
    max-width: 768px; }

  /* line 38, sass/partials/_media-queries.scss */
  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .footer-widgets-1,
  .footer-widgets-2,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .site-header .widget-area,
  .title-area {
    width: 100%; }

  /* line 54, sass/partials/_media-queries.scss */
  .site-header .wrap {
    padding: 20px 5%; }

  /* line 58, sass/partials/_media-queries.scss */
  .header-image .title-area {
    background-position: center top; }

  /* line 62, sass/partials/_media-queries.scss */
  .genesis-nav-menu li,
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none; }

  /* line 68, sass/partials/_media-queries.scss */
  .genesis-nav-menu,
  .site-description,
  .site-header .title-area,
  .site-header .search-form,
  .site-title {
    text-align: center; }

  /* line 76, sass/partials/_media-queries.scss */
  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    padding: 20px 16px; }

  /* line 82, sass/partials/_media-queries.scss */
  .site-header .search-form {
    margin: 16px auto; }

  /* line 86, sass/partials/_media-queries.scss */
  .genesis-nav-menu li.right {
    display: none; }

  /* line 90, sass/partials/_media-queries.scss */
  .footer-widgets {
    background-image: -webkit-linear-gradient(top, #000 50%, #E9194A 50%);
    background-image: linear-gradient(to bottom, #000 50%, #E9194A 50%); }

  /* line 94, sass/partials/_media-queries.scss */
  .footer-widgets-1 {
    margin-right: 0;
    margin-bottom: 80px; } }
@media only screen and (max-width: 768px) {
  /* line 104, sass/partials/_media-queries.scss */
  body {
    background-color: #fff;
    font-size: 16px; }

  /* line 109, sass/partials/_media-queries.scss */
  .site-inner,
  .wrap {
    padding-left: 5%;
    padding-right: 5%; }

  /* line 115, sass/partials/_media-queries.scss */
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .sidebar .widget,
  .site-header {
    padding: 0; }

  /* line 125, sass/partials/_media-queries.scss */
  .site-header {
    height: 60px; }
    /* line 128, sass/partials/_media-queries.scss */
    .site-header .wrap {
      padding: 0 5%; }
    /* line 132, sass/partials/_media-queries.scss */
    .site-header .title-area {
      height: 60px;
      width: 164px; }
    /* line 137, sass/partials/_media-queries.scss */
    .site-header .site-title > a {
      background-size: 164px 60px;
      height: 60px;
      width: 164px; }

  /* line 144, sass/partials/_media-queries.scss */
  .navigation-container {
    margin-top: 0; }
    /* line 147, sass/partials/_media-queries.scss */
    .navigation-container .nav-primary {
      width: 100%; }
      /* line 150, sass/partials/_media-queries.scss */
      .navigation-container .nav-primary .genesis-nav-menu a {
        padding: 13px 16px;
        text-align: center; }

  /* line 157, sass/partials/_media-queries.scss */
  .home-top {
    height: 400px;
    margin-top: 0; }
    /* line 161, sass/partials/_media-queries.scss */
    .home-top h4, .home-top p {
      font-size: 35px; }

  /* line 168, sass/partials/_media-queries.scss */
  .home-middle .widget-halves .widget:first-child,
  .home-middle .widget-halves .widget:last-child {
    margin: 0;
    width: 100%; }
  /* line 174, sass/partials/_media-queries.scss */
  .home-middle .widget-halves .widget:first-child {
    margin-bottom: 20px; }

  /* line 181, sass/partials/_media-queries.scss */
  .home-bottom:before {
    height: 30px; }

  /* line 186, sass/partials/_media-queries.scss */
  .archive-description,
  .author-box,
  .comment-respond,
  .content .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget {
    box-shadow: none; }

  /* line 196, sass/partials/_media-queries.scss */
  .archive-pagination li a {
    margin-bottom: 4px; }

  /* line 200, sass/partials/_media-queries.scss */
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%; }

  /* line 215, sass/partials/_media-queries.scss */
  .footer-widgets {
    background-image: -webkit-linear-gradient(top, #000 40%, #E9194A 35%);
    background-image: linear-gradient(to bottom, #000 40%, #E9194A 35%); }

  /* line 219, sass/partials/_media-queries.scss */
  .sidebar .widget.enews-widget {
    padding: 40px; }

  /* line 223, sass/partials/_media-queries.scss */
  .responsive-menu-icon,
  .responsive-menu .menu-item-has-children {
    cursor: pointer; }

  /* line 228, sass/partials/_media-queries.scss */
  .responsive-menu .menu-item,
  .responsive-menu-icon {
    display: block; }

  /* line 233, sass/partials/_media-queries.scss */
  .responsive-menu,
  .responsive-menu > .menu-item > .sub-menu {
    display: none; }

  /* line 238, sass/partials/_media-queries.scss */
  .responsive-menu-icon {
    text-align: center;
    padding: 5px 0; }

  /* line 243, sass/partials/_media-queries.scss */
  .responsive-menu-icon::before {
    color: #fff;
    content: "\f333";
    display: inline-block;
    font: normal 20px/1 'dashicons';
    margin: 0 auto;
    padding-right: 10px;
    vertical-align: sub;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

  /* line 255, sass/partials/_media-queries.scss */
  .responsive-menu-icon::after {
    color: #fff;
    content: "MENU";
    display: inline-block; }

  /* line 261, sass/partials/_media-queries.scss */
  .responsive-menu > .menu-item-has-children:before {
    clear: both;
    content: "\f347";
    float: right;
    font: normal 14px/1 'dashicons';
    height: 14px;
    padding: 15px 0 15px 20px;
    right: 0;
    text-align: right;
    z-index: 9999; }

  /* line 273, sass/partials/_media-queries.scss */
  .responsive-menu .menu-open.menu-item-has-children:before {
    content: "\f343"; }

  /* line 277, sass/partials/_media-queries.scss */
  .responsive-menu .sub-menu .sub-menu {
    margin: 0 0 0 25px; } }
