.footer-widgets {
	background-color: #000;
	background-image: linear-gradient(to right, #000 50%, $color-red 50%);
	clear: both;
	padding-bottom: 40px;
	padding-top: 40px;

	&,
	a {
		color: #fff;
	}

	input {
		border: 1px solid #000;
	}

	a.button,
	a:hover {
		color: #fff;
	}

	li {
		border-bottom: 1px dotted #666;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.widget {
		margin-bottom: 40px;
	}
	
	p {
		margin: 0;
	}

	p:last-child,
	ul > li:last-child,
	.widget:last-child {
		margin-bottom: 0;
	}
	
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		padding: 5px 24px;
	}
	
	.widget-title {
		font-size: 25px;
		text-align: left;
	}
	
	.address,
	.tel,
	.email {
		&:before {
			display: inline-block;
			font: normal 30px/1 'dashicons';
			margin: 0 auto;
			padding: 0 10px 0 0;
		}
	}
	
	.address {
		&:before {
			content: "\f231";
		}
	}
	
	.tel {
		&:before {
			content: "\f525";
		}
	}
	
	.email {
		&:before {
			bottom: -7px;
			content: "\f466";
			position: relative;
		}
	}
	
	.map {
		position: relative;
		
		.button {
			bottom: 20px;
			left: 40px;
			position: absolute;
		}
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	width: 47.5%; /* 570px / 1200px */
	float: left;
}

.footer-widgets-1 {
	margin-right: 5%;
}