/* Homepage
--------------------------------------------- */
.vidacar-home {
	
	.widget-title {
		text-align: center;
	}
	
	.nf-modal-link,
	.button {
		font-size: 30px;
	}
}

/** Home Top
--------------------------------------------- */
.home-top {
	color: #fff;
	display: table;
	height: 500px;
	margin-top: 100px;
	text-align: center;
	width: 100%;
	
	.widget-area {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	
	h4, p {
		color: #fff;
		font-size: 40px;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
	}
	
	img {
		filter: grayscale(1);
	}

	.button {
		margin-top: 45px;
	}
}

/** Home Middle
--------------------------------------------- */
.home-middle {
	padding: 40px 0;
	
	.widget {
		background: $color-red;
		color: #fff;
		margin-bottom: 10px;
		padding: 10px 10px;
		text-align: center;
		
		.widget-title {
			color: #fff;
			font-size: 30px;
		}
		
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
		
		.nf-modal-link,
		.button {
			background-color: #fff;
			color: #000;
			margin: 0 auto;
			
			&:hover {
				background-color: $color-dark-red;
				color: #fff;
			}
		}
		
		ul {
			margin-bottom: 10px;
		}
		
		h4 {
			font-size: 30px;
		}
		
		.tel {
			color: #fff;
			font-size: 25px;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.widget-halves {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		
		.widget:first-child,
		.widget:last-child {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			float: left;
			margin-left: 2.564102564102564%;
			position: relative;
			width: 48.717948717948715%;
		}
		
		.widget:first-child {
			clear: both;
			margin-left: 0;
		}
	}
}

/** Home Bottom
--------------------------------------------- */
.home-bottom {
	background: #CECECE;
	padding: 0 0 20px;
	
	.widget-title {
		color: #fff;
		font-size: 30px;
		margin-top: 20px;
	}
	
	&:before {
		background: url(images/triangle-bg.svg);
		background: url(images/triangle-bg.png);
		content: "";
		display: block;
		height: 60px;
		width: 100%;
	}
}