@media only screen and (max-width: 1139px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.sidebar-primary {
		width: 300px;
	}

}

@media only screen and (max-width: 1023px) {

	.site-inner,
	.wrap {
		max-width: 768px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding: 20px 5%;
	}

	.header-image .title-area {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}
	
	.footer-widgets {
		background-image: linear-gradient(to bottom, #000 50%, $color-red 50%);;
	}

	.footer-widgets-1 {
		margin-right: 0;
		margin-bottom: 80px;
	}


}

@media only screen and (max-width: 768px) {

	body {
		background-color: #fff;
		font-size: 16px;
	}

	.site-inner,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}
	
	.site-header {
		height: 60px;
		
		.wrap {
			padding: 0 5%;
		}
		
		.title-area {
			height: 60px;
			width: 164px;
		}
		
		.site-title > a {
			background-size: 164px 60px;
			height: 60px;
			width: 164px;
		}
	}
	
	.navigation-container {
		margin-top: 0;
		
		.nav-primary {
			width: 100%;
			
			.genesis-nav-menu a {
				padding: 13px 16px;
				text-align: center;
			}
		}
	}
	
	.home-top {
		height: 400px;
		margin-top: 0;
		
		h4, p {
			font-size: 35px;
		}
	}
	
	.home-middle {
		.widget-halves {
			.widget:first-child,
			.widget:last-child {
				margin: 0;
				width: 100%;
			}
			
			.widget:first-child {
				margin-bottom: 20px;
			}
		}
	}
	
	.home-bottom {
		&:before {
			height: 30px;
		}
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.content .entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget {
		box-shadow: none;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.footer-widgets {
		background-image: linear-gradient(to bottom, #000 40%, #E9194A 35%);
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}
	
	.responsive-menu-icon,
	.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}
	
	.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}
	
	.responsive-menu,
	.responsive-menu > .menu-item > .sub-menu {
		display: none;
	}
	
	.responsive-menu-icon {
		text-align: center;
		padding: 5px 0;
	}
	
	.responsive-menu-icon::before {
		color: #fff;
		content: "\f333";
		display: inline-block;
		font: normal 20px/1 'dashicons';
		margin: 0 auto;
		padding-right: 10px;
		vertical-align: sub;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.responsive-menu-icon::after {
		color: #fff;
		content: "MENU";
		display: inline-block;
	}
	
	.responsive-menu > .menu-item-has-children:before {
		clear: both;
		content: "\f347";
		float: right;
		font: normal 14px/1 'dashicons';
		height: 14px;
		padding: 15px 0 15px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}
	
	.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}
	
	.responsive-menu .sub-menu .sub-menu {
		margin: 0 0 0 25px;
	}

}
