.site-header {
	background-color: #000;
	height: 100px;
	text-align: center;

	.wrap {
		padding: 2px 0 0;
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	display: inline-block;
	height: 90px;
	padding: 0;
	width: 245px;
}

/*
.header-full-width {
	.title-area {
		width: 273px;
	}
}
*/

.site-title {
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;

	a,
	a:hover {
		color: #000;
	}
}

.header-image .site-title > a {
	background: url(images/vidacar-logo.png) no-repeat left;
	background-size: 245px 90px;
	float: left;
	height: 90px;
	width: 245px;
}

.site-description {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image {
	.site-description,
	.site-title {
		display: block;
		text-indent: -9999px;
	}
}

/* Widget Area
--------------------------------------------- */

.site-header {
	.widget-area {
		float: right;
		text-align: right;
		width: 740px;
	}
}
