.genesis-nav-menu {
	clear: both;
	font-size: 20px;
	line-height: 1;
	width: 100%;


	.menu-item {
		display: inline-block;
		text-align: left;
	}

	a {
		border-bottom: 4px solid transparent;
		color: #fff;
		display: block;
		font-family: $font-secondary;
		padding: 30px 15px 46px;
	}

	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover {
		border-color: $color-red;
		color: $color-red;
	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		-webkit-transition: opacity .4s ease-in-out;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 200px;
		z-index: 99;

		a {
			background-color: #fff;
			border: 1px solid #eee;
			border-top: 0;
			font-size: 14px;
			padding: 20px;
			position: relative;
			width: 200px;
		}

		.sub-menu {
			margin: -55px 0 0 199px;
		}
	}

	.menu-item:hover {
		position: static;

		> .sub-menu {
			left: auto;
			opacity: 1;
		}
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		color: #fff;
		float: right;
		list-style-type: none;
		padding: 30px 0;
	}

	> .right > a {
		display: inline;
		padding: 0;
	}

	> .rss > a {
		margin-left: 48px;
	}

	> .search {
		padding: 10px 0 0;
	}
}

/* Site Header Navigation
--------------------------------------------- */

.site-header {

	.sub-menu {
		border-top: 1px solid #eee;

		.sub-menu {
			margin-top: -56px;
		}
	}

	.genesis-nav-menu li li {
		margin-left: 0;
	}
}

/* Common Classes
--------------------------------------------- */

.navigation-container {
	margin-top: -100px;
}

.nav-primary,
.nav-secondary {
	background: #000;
	width: 37%;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	float: left;
	text-align: right;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	float: right;
}

/* Responsive Navigation
--------------------------------------------- */

.responsive-menu,
.responsive-menu > .menu-item > .sub-menu {
	display: block;
}

.responsive-menu-icon,
.responsive-menu > .menu-item-has-children:before,
.responsive-menu .menu-open.menu-item-has-children:before {
	display: none;
}