//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #fff;
$color-font:         #000000;
$color-link:         #e5554e;
$color-link-visited: $color-link;
$color-link-hover:   #000000;
$color-red:			 #E9194A;
$color-dark-red:	 #A3092D;

// Typography
$font-sans:  'Open Sans', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;
